<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kiosk copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Kiosk copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Kiosk.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0005F69D1D1DB3C00060A25B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000C4DB01D1D837D0069BA6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000C4DC91D1D837D0069BA6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000C4DD41D1D837D0069BA6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00A97C991D201DEC0025ADA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
